@appBackground: white;
@bodyFontFamily: 'Yantramanav', sans-serif;
@bodyFontSize: 20px;

html, body {
	margin: 0px;
	padding: 0px;
	font-family: @bodyFontFamily;
	font-size: @bodyFontSize;
	line-height: 1.2em;
}

.app {
	background: @appBackground;
}